.containerLoading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.iconLoading{
    width: 70px;
    height: 70px;
}

.textLoadingIcon{
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: var(--textColor);
}