.searchBar{
    justify-content: right;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 10%;
}

.inputAndIconSearch{
    display: flex;
    padding: 10px;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: var(--textColor);
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    background-color: white;
    height: 45px;
    gap: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.inputAndIconSearch input{
    width: 100%;
    height: 25px;
    background-color: transparent;
    border: none;
}

.inputAndIconSearch input:focus{
    outline: none;
}

.inputAndIconSearch .searchIcon{
    color: var(--textColor);
}