.searchBar{
    justify-content: right;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 10%;
}

.inputAndIconSearch{
    width: 100%;
    display: flex;
    background-color: #F9FAFB;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.inputAndIconSearch input{
    width: 100%;
    height: 25px;
    background-color: transparent;
    border: none;
}

.inputAndIconSearch input:focus{
    outline: none;
}

.inputAndIconSearch .searchIcon{
    color: var(--textColor);
}